.login-signup-trigger-buttons{
	margin-left: 1500px;
}
.login-trigger-button {
	margin-right: 10px;
}
.circleOr
    {
    width:30px;
    height:30px;
    margin-left: 942px;
    margin-top: -12px;
    border-radius: 15px;
    font-size:20px;
    line-height:1.35;
    color:white;
    text-align:center;
    background:#0069D9;
    }
.login-to-signup {
	text-decoration: none;
	padding-bottom: 10px;
	cursor: pointer;
}
.signup-to-login {
	text-decoration: none;
	padding-bottom: 10px;
	cursor: pointer;
}
.circleOr-text{
	margin-top: -1px;
}
.social-logins{
    margin-top:-54px;
}