<div>
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">MEAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="margin-right: 200px">
        <button type="button" class="btn btn-outline-success" style="margin-right: 15px" data-toggle="modal" data-target="#loginModal">Login</button>
        <button type="button" class="btn btn-outline-dark"  data-toggle="modal" data-target="#signupModal" >Signup</button>
      </form>
    </div>
  </nav>

  <!--REGISTER MODAL-->
  <div class="modal fade bd-example-modal-sm" id="signupModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document" style="width: 320px;">
      <div class="modal-content">
        <div class="card text-center">
          <div class="card-header">
            SIGNUP
          </div>
          <div class="card-body">
            <form class="text-center" >
            <div class="row">
              <div class="col">
                <label for="UsernameField">Username</label>
                <input 
                type="text" 
                class="form-control input-lg" 
                id="UsernameField" 
                placeholder="Username"
                name=username
                [(ngModel)]="user.username" 
                required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="EmailField">Email</label>
                <input 
                type="text" 
                class="form-control" 
                id="EmailField" 
                placeholder="Email"
                name=email 
                [(ngModel)]="user.email"
                required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="PasswordField">Password</label>
                <input 
                type="text" 
                class="form-control" 
                id="PasswordField" 
                placeholder="Password"
                name=password
                [(ngModel)]="user.password" 
                required>
              </div>
            </div><br>
            <button class="btn btn-primary btn-lg btn-block" type="button submit" (click) ="register()">Register</button>
          </form>
          </div>
          <div class="card-footer">
            <a class="login-to-signup" data-toggle="modal"  data-dismiss="modal" data-target="#loginModal" style="cursor:pointer">Already a member? Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--LOGIN MODAL-->
  <div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog text-center" role="document" style="width: 320px;">
      <div class="modal-content">
        <div class="card text-center">
          <div class="card-header">
            LOGIN
          </div>
          <div class="card-body">
            <form class="text-center">
            <div class="row">
              <div class="col">
                <label for="UsernameField">Username</label>
                <input type="text" class="form-control input-lg" id="UsernameField" placeholder="Username" required>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="PasswordField">Password</label>
                <input type="text" class="form-control" id="PasswordField" placeholder="Password" required>
              </div>
            </div><br>
            <button class="btn btn-primary btn-lg btn-block" type="button submit">Login</button>
          </form>
          </div>
          <div class="card-footer">
            <a class="login-to-signup" data-toggle="modal"  data-dismiss="modal" data-target="#signupModal" style="cursor:pointer">Not a member? Signup with email</a>
          </div>
        </div>
      </div>
      <hr style="width:350px; background-color:white; margin-top: 35px;">
      <div class=" social-logins text-center">
        <h5 style="color:white; padding-bottom: 10px; padding-top: 10px;">Try social Logins</h5>
        <a href="http://localhost:3000/auth/facebook/" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
        <a href="http://localhost:3000/auth/facebook/" class="btn btn-danger"><span class="fa fa-facebook"></span>Google</a>
      </div>
    </div>
  </div>
  <!--RESPONSE-->
</div>
