<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MEAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto navbar-left">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto navbar-right login-signup-trigger-buttons">
        <li class="nav-item login-trigger-button">
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal">Login</button>
        </li>
        <li class="nav-item signup-trigger-button">
          <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#signupModal">Signup</button>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Login Modal -->
  <div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="card text-center">
          <div class="card-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="card-title">LOGIN</h4>
            <form class=" text-center ">
              <div class="form-group">
                <label for="LoginEmail">Email address</label>
                <input type="email" class="form-control" id="LoginEmail" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="LoginPassword">Password</label>
                <input type="password" class="form-control" id="LoginPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <a class="login-to-signup" data-toggle="modal"  data-dismiss="modal" data-target="#signupModal">Not a member? Signup with email</a>
        </div>
      </div>
    </div>
    <hr style="width:350px; background-color:white;">
    <div class=" social-logins text-center">
      <h5 style="color:white; padding-bottom: 10px; padding-top: 10px;">Try social Logins</h5>
      <button type="button text-center" class="btn btn-primary" style="width: 94px;">Facebook</button>
      <button type="button text-center" class="btn btn-danger" style="width: 94px;">Google   </button>
    </div>
  </div>


  <!-- Signup Modal -->
  <div class="modal fade bd-example-modal-sm" id="signupModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-sm" role="document">
      <div class="modal-content">
        <div class="card text-center">
          <div class="card-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="card-title">SIGNUP</h4>
            <form class="text-center">
              <div class="form-group">
                <label for="signupInputUsername1">Username</label>
                <input
                 type="text" 
                 class="form-control" 
                 id="signupInputUsername1" 
                 placeholder="Enter username"
                 >
              </div>
              <div class="form-group">
                <label for="signupInputEmail1">Email address</label>
                <input
                 type="email" 
                 class="form-control" 
                 id="signupInputEmail1" 
                 placeholder="Enter email"
                 value=""
                 >
              </div>
              <div class="form-group">
                <label for="signupInputPassword1">Password</label>
                <input
                 type="password"
                 class="form-control" 
                 id="signupInputPassword1"
                 placeholder="Password"
                 >
              </div>
              <div class="form-group">
                <label for="signupInputPassword2">Confirm Password</label>
                <input
                 type="password"
                 class="form-control" 
                 id="signupInputPassword2"
                 placeholder="Retype-Password"
                 >
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid" >Submit</button>
            </form>
          </div>
          <a class="signup-to-login" data-toggle="modal"  data-dismiss="modal" data-target="#loginModal">Already have an account? Login</a>
        </div>
      </div>
    </div>
  </div>
</div>